<div class="modal">
	<div class="modalBackground"></div>

	<div class="modalForeground titleSplash">
		<img src="../assets/img/modal.png" alt="The moon shines over a lonely grave" />

		<div class="titleSplashText modalText">
			<h1>{{modaltext}}</h1>
		</div>

		<div class="titleChoice">
			<a href="/">Return to the homepage</a>
		</div>
	</div>

</div>