<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Digital Sin-Eater Resource Network</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body>
		<div class="header navbar">
			<h5>digital sin-eater resource network</h5>
			
			<div class="navbarLinks">
				<a href="/">home</a>
				<a href="/confess">get absolution</a>
				<a href="/absolution">absorb sin</a>
				<a href="/easements">past meals</a>
			</div>
		</div>

		{{{ body }}}

		<div class="footer navbar">
			<h5>©2018 - will mccrory<h5>

			<div class="navbarLinks">
				<a href="https://wmccrory.github.io/responsivePortfolio/portfolio.html">portfolio</a>
				<a href="https://www.linkedin.com/in/william-mccrory-849068154/">linkedin</a>
				<a href="https://github.com/wmccrory">github</a>
			</div>
		</div>

	</body>
</html>