<div class="confessionSplash">
	<img src="../assets/img/mourning.png" alt="Woman in mourning" />
	<div class="confessionText">
		<h1>Thine departed was wicked in life.</h1>
		<h3>But their soul may yet still rest. For a bit of coin, and a meal.</h3>
		<h3>Shall you call for the sin-eater, and damn another for thine departed's own salvation?</h3>

		<form class="createForm">
			<textarea id="userEntry" name="userEntry" maxlength="200" placeholder="Confess the sins of the dead (maximum length 200 characters)" rows="5" cols="50"></textarea>
			<br>
			<button id ="submit" type="submit">add sin</button>
		</form>
	</div>
</div>

{{> modal modaltext="You have called for the sin-eater."}}