<div class="titleSplash">
	<img src="../assets/img/titlesplash.png" alt="The sin-eater arrives to consume the sins of the dead" />

	<div class="titleSplashText">
		<h1>sin-eater</h1>
		<h3>&#8226; sɪn ˈitər</h3>
		<h4>noun</h4>
		<h3>1 : a person formerly hired to assume the sins of a dead person by eating food placed near the corpse</h3>
		<br>
		<h3>2 : The convenient ‘other’; the outside, the unbeliever, the black sheep, the scapegoat, the sin-eater.</h3>

		<div class="titleText">
			
		</div>
	</div>

	<div class="titleChoice">
		<a href="./confess">I have come seeking absolution for the departed</a>
		<a href="./absolution">I have come to consume the sins of the departed</a>
	</div>
</div>